node_modules/
.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# env
.env
.env.local
supabase/functions/.env

# misc
.DS_Store
npm-debug.*
*.tsbuildinfo

# supabase local
supabase/.branches
supabase/.temp
